/* CarouselBox.css */
.carousel-box-container {
    width: 60%;
    margin: auto;
    overflow: hidden;
    
  }
  
  .carousel {
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel img {
    width: 100%;
    height: 'auto';
    display: block;
  }
  