.carousel-container {
  max-width: 1000px; /* Set the maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
}

.carousel-image {
  width: 100%; /* Make the image responsive within its container */
  /* border-radius: 10px; Match the border-radius from containerStyle */
}

/* Add additional styling as needed */
