.cta{
    background-image: url('./../images/cta.jpg');
    min-height: 700px;
    /* width:auto ; */
    margin-inline: 50px;
    margin-block: 50px;
    background-position: center;
    /* background-size: 100px 100%; */
    background-repeat: no-repeat;
    /* padding-inline :60px ;
    padding-block: 100px;*/
} 

.cta> form> div{
    padding: 3px;
    margin: 0px;

}

.cta> form> div> label{
    font-size: 20px;
    
}

.cta> form> div> input{
    border:"1px solid black";
    border-radius : 4px;
    height: 30px;   
}

.app_footer{
    background: linear-gradient(to right, rgb(0, 92, 151), rgb(54, 55, 149));
    padding: 40px;
    color:white !important;
}